<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src="/services/userServices.js"></script>
    <script type ="text/javascript" src="/js/application.js"></script>
    <link rel = "stylesheet" type="text/css href="public/css/applicationPage.css">
</head>
<body>
    <div class="profile">
        <h2>Create a Post</h2>
        <div class="postDetails">
            <form name="createPost" action="/API/upload" enctype="multipart/form-data" method="post">
                <input id="title" name="title" placeholder="Title"/>
                <input type="file" id="myfile" name="myfile">
                <input id="description" name="description" placeholder="Description"/>
                <input type="submit">
            </form>
        </div>

        <div class="postOptions">
            <p>Allow comments</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Show Reactions</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Post Visibility</p>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <button onclick="off()">Back</button>

    </div>

</body>
</html>
