<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src="/services/userServices.js"></script>
    <link rel = "stylesheet" href="/public/css/applicationPage.css">
</head>
<body>
<div class="wrapper">

    <div class="profile">
        <h2>Create a Post</h2>
        <div class="postDetails">
            <form name="createPost">
                <input id="title" name="title" placeholder="Title"/>
                <input id="image" name="image" placeholder="Add Image"/>
                <input id="description" name="description" placeholder="Description"/>
            </form>
        </div>

        <div class="postOptions">
            <p>Allow comments</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Show Reactions</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Post Visibility</p>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>

    </div>


    <div class="maps" style="background-image: url('/public/Images/cool2.jpg')">

    </div>

</div>




</body>
</html>
