<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src="/services/userServices.js"></script>
    <link rel = "stylesheet" href="/public/css/applicationPage.css">
</head>
<body>
<div class="wrapper">

    <div class="profile">
        <ul>
            <li><a class="active" href="#home">My Profile</a></li>
            <li><a href="#news">Friends</a></li>
            <li><a href="#contact">Add Friend</a></li>
            <li><a href="#about">Friend Requests</a></li>
            <li><a href="#about">Settings</a></li>
        </ul>
    </div>


    <div class="maps" style="background-image: url('/public/Images/cool2.jpg')">

    </div>

</div>




</body>
</html>
