<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src="/services/userServices.js"></script>
    <script type ="text/javascript" src="/js/application.js"></script>
    <script type ="text/javascript" src="/js/demo.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <link rel = "stylesheet" href="/css/applicationPage.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">

    <div class="profile">
        <div id="data">
            <ul>
                <li><a class="active" onclick="onProfile()">My Profile</a></li>
                <li><a href="#news">Friends</a></li>
                <li><a href="#contact">Add Friend</a></li>
                <li><a href="#about">Friend Requests</a></li>
                <li><a href="#about">Settings</a></li>
                <li><a href="#about"><%= user.profile.display%></a></li>
            </ul>
        </div>

        <div id="overlayProfile">
            <%- include('../views/partials/profile'); %>
        </div>

        <div style="padding:20px">
            <button id="bbb" class="postButton" onclick="onPost()">Create Post</button>
        </div>
        <div id="overlay" class="createPostButton">
            <%- include('../views/partials/addPost'); %>
        </div>

    </div>





    <div id = "map" class="maps" >

    </div>

</div>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBY4bqQwcoN1yq_6XNFB3K-cDiXlD2k5I&callback=initMap">
</script>
</body>
</html>
