<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src="/public/js/mainPage.js"></script>
    <link rel = "stylesheet" href="/public/css/mainPage.css">
</head>
<body>
<div class="wrapper">
    <div class="userDetails">

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Login')">Login</button>
            <button class="tablinks" onclick="openCity(event, 'Sign Up!')" id="defaultOpen">Sign Up</button>
        </div>

        <div id="Sign Up!" class="tabcontent">
            <form name="contact-details" action="API/signup" method="post">
                <div class="personal-info">
                    <div class="username">
                        <input id="username" name="username" placeholder="Username"/>
                        <input id="disp_name" name="disp_name" placeholder="Display Name"/>
                    </div>
                    <div class="contact-name">
                        <input id="fname" name="fname" placeholder="First Name">
                        <input id="lname" name="lname" placeholder="Last Name">
                    </div>
                    <div class="contact-details">
                        <input id="email" name="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="password">
                    <input id="pw1" name="pw1" placeholder="Password"/>
                    <input id="pw2" name="pw2" placeholder="Confirm Password"/>
                </div>
                <div class="row">
                    <input type="submit" name="submit"/>
                </div>
            </form>
        </div>

        <div id="Login" class="tabcontent">
            <form name="login" action="API/login" method="post">
                <div class="username">
                    <input id="username2" name="username" placeholder="Username"/>
                </div>
                <div class="password">
                    <input id="pw" name="pw1" placeholder="Password"/>
                </div>
                <div class="row">
                    <input type="submit" name="submit"/>
                </div>
            </form>
        </div>
    </div>

    <div class="image" style="background-image: url('/Images/cool2.jpg')">

    </div>

</div>



<script>
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>
