<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type ="text/javascript" src="/js/mainPage.js"></script>
    <script type ="text/javascript" src="/js/simpleMap.js"></script>
    <link rel ="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="userDetails">

        <div class="tab">
            <button class="tablinks" onclick="openPage(event, 'Login')">Login</button>
            <button class="tablinks" onclick="openPage(event, 'Sign Up!')" id="defaultOpen">Sign Up</button>
        </div>

        <div id="Sign Up!" class="tabcontent">
            <form name="contact-details" action="/API/signup" method="post">
                <div class="personal-info">
                    <div class="username">
                        <input id="username" name="username" placeholder="Username"/>
                        <h5 id="usercheck" style="color: red;">
                            **Username is missing!
                        </h5>
                        <input id="disp_name" name="disp_name" placeholder="Display Name"/>
                    </div>
                    <div class="contact-name">
                        <input id="fname" name="fname" placeholder="First Name">
                        <input id="lname" name="lname" placeholder="Last Name">
                    </div>
                    <div class="contact-details">
                        <input id="email" name="email" placeholder="Email Address">
                        <small id="emailcheck" class="form-text
                        text-muted invalid-feedback">
                                Your email must be a valid email!
                            </small>
                    </div>
                </div>
                <div class="password">
                    <input id="pw1" name="pw1" placeholder="Password"/>
                    <h5 id="passcheck" style="color: red;">
                        **Password is missing!
                    </h5>
                    <input id="pw2" name="pw2" placeholder="Confirm Password"/>
                    <h5 id="passcheck2" style="color: red;">
                        ** Password confirmation!
                    </h5>
                </div>
                <div class="row">
                    <input type="submit" name="submit"/>
                </div>
            </form>
        </div>

        <div id="Login" class="tabcontent">
            <form name="login" action="/API/login" method="post">
                <div class="username">
                    <input id="ID" name="ID" placeholder="Username / Email"/>
                </div>
                <div class="password">
                    <input id="pw" name="pw" placeholder="Password"/>
                </div>
                <div class="row">
                    <input type="submit" name="submit"/>
                </div>
            </form>
        </div>
    </div>

    <div id = "map" class="image" >

    </div>

</div>



<script>
    document.getElementById("defaultOpen").click();
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBY4bqQwcoN1yq_6XNFB3K-cDiXlD2k5I&callback=initMap">
</script>
</body>
</html>
