* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;}

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    "profile maps";
}
.maps {
    grid-area: maps;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 1px solid blue;
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.profile {
    grid-area: profile;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 1px solid blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: red;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#myDIV {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: lightblue;
    display: none;
}

#data {
    display: block;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 20%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlayProfile {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 20%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}



.postButton {
    position: absolute;
    left: 0;
    bottom: 0;
}

.postDetails {
    width: 50px;
}

input {
    width: 200%;
}

.wrap {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "off image logout"
    "friends scraps"
    "editProfile"
    "recent"
    "posts posts";
}

.off {
    grid-area: off;
    width: 100%;
    height: 10px;
    display: block;
    margin: auto;
    border: 1px solid blue;
}

.image {
    grid-area: image;
    width: 100%;
    height: 10px;
    display: block;
    margin: auto;
    border: 1px solid blue;
}

.logout {
    grid-area: logout;
    width: 100%;
    height: 10px;
    display: block;
    margin: auto;
    border: 1px solid blue;
}
